#content{
    background-color: #eee;
    margin: 3em 1em;
    padding: 2em  1em;
    text-align: center;
    border-radius: 5px;
    
}
#title{
    font-size: 2.5rem;
    line-height: 1.2;
}
#pic{
    background-color: #fff;
    padding: 10px 10px;
}
#img-caption{

    padding: 1em ;

}